body{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.principale{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 60vw; 
    height: 85vh; 
    position: fixed; 
    bottom: 0;
}

.side-chat{
    flex: 1;
    background-color: white;
    height: 100%;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.main-chat{
    flex: 2;
    background-color: aqua; 
    height: 100%;
    border-left: 1px solid black;
}

.testata{
    width: 100%; 
    height: 7vh;
    background-color: white;
    border-bottom: 1px solid black;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

div > span{
    font-size: 3vh;
    margin-left: 5%;
    font-weight: bolder;
    margin-top: 4%;
}

i{
    font-size: 4vh;
    margin-left: 10%;
    padding: 3%;
    border-radius: 50%;
    transition: background-color 0.5s;
}

i:hover{
    background-color: gray;
    
}

.custom-search{
    width: 15vw;
    height: 4vh;
    font-size: 3vh;
    border: 5px solid blue;
    margin-top: 1vh;
    background-color: aqua;
}

.chat{
    height: 100%;
    width: 100%;
    margin-top: 5%;
    overflow-y: auto;
}

.chat-utente{
    border: 1px solid black;
    height: 11vh;
    width: 100%;
    background-color: rgb(237, 250, 250);
    transition: background-color 0.5s;
    display: flex;
}

img{
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 2%;
}

.chat-utente:hover{
    background-color: rgb(205, 205, 205);
}

.utente{
    font-size: 3vh;
    margin-top: 3%;
    margin-left: 3%;
}

.nota-utente{
    font-size: 2vh;
}